 .temprature-value {
      font-size: 30px;
      color: #293251;
  }
  .temprature-description {
  }
.location {
  background-color: cornflowerblue;  

  }
  .weather-icon{
  }
  .notification{

  }

  #searchBar{

  }
  .presure{

  }
#table{

}
  